.bg{
    width: 100%;
    height: 800px;
    background-image: url('img1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
img{
    height: 350px;
    width: auto;
    margin: 200px 0 0 1075px;
}